.azeret-mono-web {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  #banner{
      max-width: 1450px;
      background-image: url("../assets/Hero-bg.png");
      height: 700px;
      background-size: cover;
      background-position: center;
      justify-content: center;
      display: flex;
      align-items: center;
      margin: 50px auto;
  }
  .bn{
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  width: 900px;
  height: 600px;
  margin-top: 0%;
  gap: 0%;
  }
  .title{
    color: rgb(13, 19, 33);
  font-size: 47px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: center;
  }
  .description{
    color: rgb(13, 19, 33);
  font-size: 15px;
  font-weight: 370;
  text-align: center;
  position: static;
  width: 840px;
  height: 50px;
  align-items: center;
  opacity: 0.7;
  margin: 10px 70px 90px;
  }
  .comon{
    align-items: center;
  }
  .btn{
  width: 200px;
  height: 60px;
  padding: 17px;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  }